* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  color: white;
  position: sticky;
}
.offers {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  padding-left: 5rem;
  padding-right: 4rem;
}
.presentation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0a83e;
  list-style: none;
  padding-left: 3rem;
  padding-right: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.presentation nav {
  gap: 1rem;
  display: flex;
}
/* Dandole fondo negro al select */
.options-section select {
  background-color: #222222;
  color: white;
  border: none;
}

/* ----Estilos del main */

main {
  background-image: url(../img/Hero.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  text-align: center;
  padding-right: 3rem;
}
.here {
  background-color: #ffffff;
  border-radius: 0.3rem;
  padding: 0.4rem 0.4rem;
  font-family: Roboto;
  font-weight: normal;
  margin-bottom: 0.5rem;
}
.promo {
  font-family: Roboto;
  font-weight: normal;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.foot {
  color: white;
  background-color: #f0a83e;
  border: none;
  border-radius: 0.3rem;
  padding: 1rem 1.2rem;
}

.patita {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem 0;
}
.patita_contenido h2 {
  font-size: 2.5rem;
  color: #3c2313;
  padding: 1rem 0;
}

.palabras {
  display: inline-block;
  font-size: 18px;
  text-align: center;
  gap: 2rem;
  color: #3c2313;
}

.palabras span:not(:last-child)::after {
  content: "-";
  margin: 0 1rem;
}

/* ----Estilo de las cards*/

.container {
  border: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  box-sizing: border-box;
}
.card {
  border: 1px solid blue;
  height: 265px;
  width: 312px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* -----Estilos del footer */
.footer {
  /* hacer que este fijo abajo de la pagina siempre */
  position: fixed;
  bottom: 0;
  width: 100%;
}

.container_subs {
  display: flex;
  justify-content: space-between;
  background-color: #f0a83e;
  .suscribete {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;
    padding: 0.3rem 1.5rem;
  }
}
.search {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-right: 2rem;
}

.input {
  border: none;
  border-radius: 0.9rem;
  padding: 0.6rem 0.5rem;
  color: #a0a0a0;
  width: 18rem;
}
.suscribete-btn {
  background-color: #3c2313;
  border: none;
  color: white;
  border-radius: 0.9rem;
  padding: 0.4rem 0.5rem;
}
.container_info {
  background-color: #3c2313;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6rem;
  list-style: none;
}

.box-info {
  display: flex;
  gap: 2rem;
  color: #ffffff;
  padding: 0.5rem 0;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.9rem 0;
}
.logo_ultimate {
  height: 1.6rem;
}
.nom {
  font-weight: normal;
  font-size: 0.8rem;
  color: #8a8787;
}
.derechos {
  background-color: #222222;
  color: white;
  display: flex;
  justify-content: center;
  padding: 0.4rem 0;
}

/* CONTACTOS */

.contactoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

.contactoContainer h2 {
  color: #3c2313;
}

.contactoContainer input {
  background-color: #3c2313;
  border-radius: 15px;
  width: 340px;
  height: 40px;
}

.btn-container {
  display: flex;
  gap: 1.5rem;
}

.btn-reset {
  background-color: rgba(138, 135, 135, 1);
  border-radius: 15px;
  padding: 0.5rem 1rem;
  border: none;
}

.btn-enviar {
  background: #f0a83e;
  border-radius: 15px;
  padding: 0.5rem 1rem;
  border: none;
}
